.idea/.idea.StackOverflowApp/riderModule.iml
.idea/.idea.StackOverflowApp/.idea/.gitignore
.idea/.idea.StackOverflowApp/.idea/encodings.xml
.idea/.idea.StackOverflowApp/.idea/indexLayout.xml
.idea/.idea.StackOverflowApp/.idea/misc.xml
/.vs/StackOverflowApp
